config.cache
config.log
Makefile
config.status
*.o
bin/*
log/*
syslog*
badsites
etc/board.*
lib/pcount
DELETED
lib/house/*.house
misc/bugs
misc/ideas
misc/typos
plralias/*
plrobjs/*/*
log/*
lib/etc/*
.killscript
